html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.bg-negro {
    background: #2c2c2c;
    color: white;
}

.barra {
    color: white;
    text-decoration: none;
    border-radius: 0 !important;
}

.barra:hover {
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.info{
    margin-top: 1%;
}
body {
    background:url('../img/background.jpg');
    background-size: 100% ,100vh; 
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}
a{
    font-size: 145% !important;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 500px;
    min-height: 525px;
    background: linear-gradient(210deg, #66f766 0%, #fd90e6 90%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
    opacity: 0.9;
    transform: skew(5deg, -3deg) !important;
    
    
}

.deck .card {
    height: 110px;
    width: 100px;
    background: black;
    font-size: 0px;
    color: #f768d8;
    border-radius: 3px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.6s;
    transform: skew(5deg, -3deg) !important;
    
    
    
}

.deck .card.open {
    background: #ffffff;
    cursor: default;
    transform: skew(0deg, -0.5turn) !important;
    max-height: 110px;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #388b38;
    color: #f768d8;
    font-size: 50px;
    transform: skew(0deg, -0.5turn) !important;
}

/*
 * Styles for the Score Panel
 */

.info {
    text-align: left;
    width: 345px;
    margin-left: 10%;
    padding-bottom: 15px; 
}

.info .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.info .stars li {
    list-style: none;
    display: inline-block;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.restart{
    top:5px;
    left: 90%;
    position: fixed;
    z-index: +9816541;
    font-size: 125%;
}

/*
 * Responsiveness
 */

@media only screen and (max-width: 800px) {
    .deck .card {
        width: 75px;
        height: 75px;
        line-height: 75px;
    }
    .deck {
        width: 500px;
    }
}

@media only screen and (max-width: 450px) {
    .deck .card {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .deck {
        width: 300px;
    }
}