* {
    padding: 0;
    margin: 0;
}

.bg-dark {
    background: #343a40;
}
.color{
    height: auto;
}
.arriba {
    height: 15vh;
    width: 100%;
}
.abajo {
    height: 9vh;
    width: 100%;
}

div.polaroid {
    width: 24vh;
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.2), 0 6px 20px 0 rgba(184, 184, 184, 0.19);
    text-align: center;
}

.flip{
    position: relative;
    transition: all 0.7s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    }
    .flip .flip-1,
    .flip .flip-2{
    position: absolute;
    backface-visibility: hidden;
    }
    .flip .flip-2{
    transform: rotateY(-180deg);
    }